.bb-tab-documents-21 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .title-xl-1 {
      font-family: Barlow;
      font-style: normal;
      font-weight: 600;
      font-size: 52px;
      line-height: 56px;
      color: #000099;
    }

    .bb-tab-documents-21 li {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 33%;
      margin-bottom: 30px;
      font-family: Barlow;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      list-style: none;
    }

    .bb-tab-documents-21 li img {
      margin-right: 32px;
    }

    .bb-tab-documents-21 li a {
      text-decoration: none;
      color: #000099;
    }

    /* tabs */
    .nav-tabs-filter {
      margin-top: 52px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      padding-left: 0px !important;
    }

    .nav-tabs-filter li {
      cursor: pointer;
      font-family: Barlow;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: #000099;
      list-style: none;
      padding: 19px 20px 26px 20px;
    }

    .nav-tabs-filter .active {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      background: #f4f8fb;
      border-radius: 10px 10px 0px 0px;
      border-bottom: 5px solid #000099;
    }

    .nav-tabs-filter .active:after {
      content: "";
      position: absolute;
      top: 101%;
      /* left: 15.9px; */
      border-top: 22px solid black;
      border-top-color: inherit;
      border-left: 22px solid transparent;
      border-right: 22px solid transparent;
      z-index: 1;
    }

    /* .nav-tabs-filter .slick-list {
      overflow: unset;
    } */

    .tabs-docs-section {
      margin-top: 160px;
      margin-bottom: 100px;
    }

    .tabs-docs-section hr {
      margin: 0;
      margin-top: 1px;
    }

    .tabs-docs-section ul {
      margin-bottom: 0;
    }

    .tabs-docs-section .content {
      margin-top: 52px;
    }

    /* tabs */
    @media (max-width: 575.98px) {
      section {
        margin-bottom: 60px !important;
      }
      .breakout .container {
        max-width: calc(100% - 15px);
        min-height: 304px;
      }
    }

    @media (max-width: 767.98px) {
      .bb-tab-documents-21 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .bb-tab-documents-21 li {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 80% !important;
      }
    }

    @media (max-width: 991.98px) {
      /* Tabs */
      .bb-tab-documents-21 li {
        font-size: 14px;
        line-height: 20px;
      }
      .bb-tab-documents-21 li img {
        margin-right: 17px;
      }
      .tabs-docs-section hr {
        margin: 0;
        margin-top: 1px;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      .nav-tabs-filter .active {
        display: flex !important;
      }

      .tabs-docs-section .line-tabs {
        position: relative;
      }
      /* Fim tabs */
    }

    @media (max-width: 1200px) {
      .tabs-docs-section hr {
        margin: 0;
        margin-top: -24px;
        position: absolute;
        width: 100%;
        z-index: 1;
      }
      /* .tabs-docs-section .nav-tabs-filter .slick-list {
        overflow: unset !important;
      } */
      .tabs-docs-section .line-tabs {
        position: relative;
      }
      .nav-tabs-filter {
        height: 89px;

        margin-top: 52px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        padding-left: 0px !important;
      }
      .nav-tabs-filter li {
        font-family: Barlow;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        padding: 18px 20px 18px 20px;
      }

      .bb-tab-documents-21 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
      }
      .bb-tab-documents-21 li {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 50%;
      }
    }